<h1>All players</h1>

<button>+
</button>

<table>
    <thead>
        <th>ID</th>
        <th>Nickname</th>
        <th>First name, Last name</th>
        <th>Actions</th>
    </thead>

    <tbody>
        <% @players.each do |player| %>
            <tr>
                <td><%= player.id %></td>
                <td><%= player.nickname %></td>
                <td><%= player.first_name + " " + player.last_name %></td>
                <td>Placeholder</td>
            </tr>
        <% end %>
    </tbody>
</table>
